// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files

@font-face {
    font-family: Montserrat-Light;
    src: url('/assets/fonts/montserrat-light.eot'), /* IE9 Compat Modes */
         url("/assets/fonts/montserrat-light.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/montserrat-light.woff") format("woff"), 
         url('/assets/fonts/montserrat-light.ttf')  format('truetype'); /* Safari, Android, iOS */    
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('/assets/fonts/montserrat-regular.eot'), /* IE9 Compat Modes */
         url("/assets/fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/montserrat-regular.woff") format("woff"), 
         url('/assets/fonts/montserrat-regular.ttf')  format('truetype'); /* Safari, Android, iOS */    
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('/assets/fonts/montserrat-medium.eot'), /* IE9 Compat Modes */
         url("/assets/fonts/montserrat-medium.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/montserrat-medium.woff") format("woff"), 
         url('/assets/fonts/montserrat-medium.ttf')  format('truetype'); /* Safari, Android, iOS */    
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('/assets/fonts/montserrat-bold.eot'), /* IE9 Compat Modes */
         url("/assets/fonts/montserrat-bold.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/montserrat-bold.woff") format("woff"), 
         url('/assets/fonts/montserrat-bold.ttf')  format('truetype'); /* Safari, Android, iOS */    
}